// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$main-bg: #212121;
$secondary-bg: #303030;
$tertiary-bg: #424242;
$main-txt: #e8e6e6;
$secondary-txt: #9e9e9e;
$tertiary-txt: #a19d9d;
$danger: #e54d42;
$danger-hover: #b02d23;
$success: #49b571;
$success-hover: #2d8c50;
$passed-event: #7b7b7b;
