// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.full-height {
    height: 100vh;
}

.full-screen {
    height: 100%;
    width: 100%;
}

.page-header {
    padding: 0px 20px;
    background-color: $secondary-bg;
    color: $blue;
    font-weight: bold;
    height: 56px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;

    .page-title {
        color: $blue;
        font-weight: 700;
        font-size: 20px;
        margin: 0px;
    }
}

.page-content {
    padding: 20px;
    color: $main-txt;

    .center-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (min-width: 640px) {
            max-width: 640px;
        }
    }

    .section-wrapper {
        padding: 20px;
        background-color: $secondary-bg;
        color: $main-txt;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 6px;
        margin-bottom: 20px;

        .section-title {
            color: $blue;
            font-weight: 700;
        }

        .section-child-wrapper {
            background-color: $tertiary-bg;
            margin: 25px 0px;
            padding: 10px 20px;
            border-radius: 5px;

            label {
                margin: 0px;
            }
        }
    }
}
